// Reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Common styles for typography
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
span {
  text-decoration: none;
  list-style: none;
  font-family: "Hanken Grotesk", sans-serif;
  line-height: 1.2;
  letter-spacing: 0.3px;
}

// Container styles
.container {
  margin: 0 auto;
  max-width: 700px;
}

// Hero section styles
.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  > .inner:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
    color: white;
    background: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%)
    );
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  > .inner:last-child {
    padding: 30px;
  }
}

// Styles for the first h1 inside a div
div:nth-child(1) > h1 {
  font-size: 18px;
  margin-bottom: 25px;
  color: hsl(241, 100%, 89%);
}

// Result circle styles
.result-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 125px;
  min-height: 125px;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  border-radius: 50%;
  margin-bottom: 25px;

  .subtitle {
    font-size: 48px;
    margin-bottom: 5px;
  }

  .text {
    font-size: 15px;
    color: hsl(241, 100%, 89%);
  }
}

// Subtitle h3 styles
h3.subtitle {
  font-size: 22px;
  margin-bottom: 10px;
}

// Description paragraph styles
p.description {
  font-size: 15px;
  padding: 0 30px;
  margin-bottom: 25px;
  color: hsl(241, 100%, 89%);
}

// Title h4 styles
h4.title {
  color: hsl(224, 30%, 27%);
  font-weight: 900;
  margin-bottom: 23px;
  font-size: 18px;
}

// Summary list styles
.summary-list {
  margin-bottom: 25px;
}

// Summary item styles
.summary-item {
  display: flex;
  justify-content: space-between;
  background: hsl(241, 100%, 89%);
  height: 50px;
  margin-bottom: 15px;
  border-radius: 12px;
  padding: 10px;

  .inner {
    display: flex;
    align-items: center;

    img {
      margin-right: 9px;
    }
  }
}

// Different styles for list items
ul > li:nth-child(1) {
  background: hsla(0, 100%, 67%, 0.064);

  > div:nth-child(1) > p {
    color: hsl(0, 100%, 67%);
  }
}

ul > li:nth-child(2) {
  background: hsla(39, 100%, 56%, 0.064);

  > div:nth-child(1) > p {
    color: hsl(39, 100%, 56%);
  }
}

ul > li:nth-child(3) {
  background: hsl(166, 100%, 37%, 0.064);

  > div:nth-child(1) > p {
    color: hsl(166, 100%, 37%);
  }
}

ul > li:nth-child(4) {
  background: hsl(234, 85%, 45%, 0.064);

  > div:nth-child(1) > p {
    color: hsl(234, 85%, 45%);
  }
}

// Continue button styles
.btn-continue {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  color: white;
  background: hsl(224, 30%, 27%);
  font-size: 16px;
}

// Styles for paragraph inside list items
li > div > p {
  font-weight: 900;
  color: hsla(224, 30%, 27%, 0.413);

  > span {
    margin-right: 8px;
    color: hsl(224, 30%, 27%);
  }
}

// Media query for larger screens
@media (min-width: 768px) {
  .container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .hero {
    width: 600px;
    height: 45%;
    flex-direction: row;
    box-shadow: 10px 10px 37px 3px rgba(190, 182, 182, 0.75);
    border-radius: 25px;

    .inner {
      width: 50%;
      border-radius: 25px;
    }
  }

  // Adjust summary item styles
  .summary-item .inner:last-child {
    justify-content: flex-end;
  }
}
